.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
src/pyTools/*.bat
src/pyTools/build/
src/pyTools/dist/
src/pyTools/*.spec
**/_temp_debug/
**/__pycache__/
**/*.bat
todo.md